body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.small-margin-bottom {
  margin-bottom: 16px !important;
}


.MuiCardContent-root:last-child{
  padding-bottom: 16px !important;
}

/* C3 */

.draggable-line line {
  stroke-width: 2px;
}

.c3-xgrid-line text {
  font-size: 14px;
}

.c3-line {
  stroke-width: 3px!important;
}

.c3-area {
  opacity: 0.5!important;
}